{% extends "layout.html"%}

{% block contenedor %}
<script type="text/javascript">
    ymaps.ready(init);
    function init(){ 
        var myMap = new ymaps.Map("map", {
            center: [55.76, 37.64],
            zoom: 10
        });
     }

    function calculateDistance(){
        var addres = '{{ name }}'
        ymaps.geocode(addres).then(function (res) {
            var point1Coords = res.geoObjects.get(0).geometry.getCoordinates();

            ymaps.geocode('MKAD, 1st kilometre').then(function (res) {
                var firstKilometreMkadCoords = res.geoObjects.get(0).geometry.getCoordinates();
                var result = ymaps.formatter.distance(ymaps.coordSystem.geo.getDistance(point1Coords, firstKilometreMkadCoords));
                document.getElementById('labelResult1').innerHTML = result;
            });

            ymaps.geocode('MKAD, 50th kilometre').then(function (res) {
                var secondKilometreMkadCoords = res.geoObjects.get(0).geometry.getCoordinates();
                var result = ymaps.formatter.distance(ymaps.coordSystem.geo.getDistance(point1Coords, secondKilometreMkadCoords));
                document.getElementById('labelResult2').innerHTML = result;
            });

            ymaps.geocode('MKAD, 70th kilometre').then(function (res) {
                var thirdKilometreMkadCoords = res.geoObjects.get(0).geometry.getCoordinates();
                var result = ymaps.formatter.distance(ymaps.coordSystem.geo.getDistance(point1Coords, thirdKilometreMkadCoords));
                document.getElementById('labelResult3').innerHTML = result;
            });
        });
    }
</script>
<div class="row">
    <div class="col-4 offset-4">
        <div class="card">
            <div class="card-body">
                <table>
                    <tr>
                        <th>Name</th>
                        <th>Point</th>
                    </tr>
                    <tr>
                        <td>{{ name }}</td>
                        <td>{{ point }}</td>
                    </tr>
                </table>                       
                <a href="/new" class="btn btn-primary">Go back</a>
            </div>
        </div>
    </div>
    <hr>
    <div id="map" style="width: 600px; height: 400px"></div>
    <div>
        <div class="mb-3">
            <label class="form-label">Distance to kilometre 1 of MKAD</label>
            <label id="labelResult1" class="form-label">Result</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Distance to kilometre 50 of MKAD</label>
            <label id="labelResult2" class="form-label">Result</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Distance to kilometre 70 of MKAD</label>
            <label id="labelResult3" class="form-label">Result</label>
        </div>
        <button onclick="calculateDistance()" class="btn btn-primary">Calculate</button>
    </div>
</div>

{% endblock %}