<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='estilos.css')}}">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
	<title>Portafolio - Joseph Adrián</title>
</head>
	<body>
		<header>
			<div class="contenedor estilo-titulo">
				<h2>Joseph Adrián</h2>
				<p>Desarrollador Web</p>
			</div>
		</header>
		<main>
			<div class="orange-star">
                <div class="contenedor">
                    <button role="button" class="boton" id="orange-star-url"><i class="fas fa-info-circle"></i>Ir al sitio</button>
                </div>
            </div>
			<div class="smokejumpers">
                <div class="contenedor">
                    <button role="button" class="boton" id="smokejumpers-url"><i class="fas fa-info-circle"></i>Ir al sitio</button>
                </div>
            </div>
			<div class="parallax">
                <div class="contenedor">
                    <button role="button" class="boton" id="parallax-url"><i class="fas fa-info-circle"></i>Ir al sitio</button>
                </div>
            </div>
			<div class="clon-netflix">
                <div class="contenedor">
                    <button role="button" class="boton" id="clon-netflix-url"><i class="fas fa-info-circle"></i>Ir al sitio</button>
                </div>
            </div>
		</main>
		<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
		<script src="{{ url_for('static', filename='main.js')}}"></script>
	</body>
</html>